/* line 27, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
html, body {
  background: #222;
  overflow: hidden;
  width: 100%;
  height: 100%; }

/* line 33, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
.view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-perspective: 400;
          perspective: 400; }

/* line 36, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
.plane {
  width: 120px;
  height: 120px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }
  /* line 39, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
  .plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
            transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
            animation: rotate 20s infinite linear; }
    /* line 44, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
    .plane.main .circle {
      width: 120px;
      height: 120px;
      position: absolute;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      border-radius: 100%;
      box-sizing: border-box;
      box-shadow: 0 0 60px crimson, inset 0 0 60px crimson; }
      /* line 53, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle::before, .plane.main .circle::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 10%;
        height: 10%;
        border-radius: 100%;
        background: crimson;
        box-sizing: border-box;
        box-shadow: 0 0 60px 2px crimson; }
      /* line 64, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle::before {
        -webkit-transform: translateZ(-90px);
                transform: translateZ(-90px); }
      /* line 66, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle::after {
        -webkit-transform: translateZ(90px);
                transform: translateZ(90px); }
      /* line 70, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle:nth-child(1) {
        -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
                transform: rotateZ(72deg) rotateX(63.435deg); }
      /* line 70, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle:nth-child(2) {
        -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
                transform: rotateZ(144deg) rotateX(63.435deg); }
      /* line 70, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle:nth-child(3) {
        -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
                transform: rotateZ(216deg) rotateX(63.435deg); }
      /* line 70, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle:nth-child(4) {
        -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
                transform: rotateZ(288deg) rotateX(63.435deg); }
      /* line 70, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
      .plane.main .circle:nth-child(5) {
        -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
                transform: rotateZ(360deg) rotateX(63.435deg); }

@-webkit-keyframes rotate {
  /* line 75, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0); }

  /* line 77, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }

@keyframes rotate {
  /* line 75, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0); }

  /* line 77, /Users/francisco/Dropbox/ninja1/scss/daredevil.sass */
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); } }
