@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

$color-fondo:#999999;
body{
    background: $color-fondo;
    font: .85em 'Raleway', sans-serif; 
}

header, footer{
    display: block;
    margin: 4px;
    padding: 5px;
    min-height: 100px;
    border: 1px solid #eebb55;
    border-radius: 7pt;
    background: #ffeebb;
}

#main{
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
    
    & > article{
        margin: 4px;
        padding: 5px;
        border: 1px solid #cccc33;
        border-radius: 7pt;
        background: #dddd88;
        -webkit-flex: 3 1 60%;
                flex: 3 1 60%;
        -webkit-order: 2;
                order: 2;
    }
    
    & > nav{
        margin: 4px;
        padding: 5px;
        border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ccccff;
        -webkit-flex: 1 6 20%;
                flex: 1 6 20%;
        -webkit-order: 1;
                order: 1;
    }
    
    & > aside{
        margin: 4px;
        padding: 5px;
        border: 1px solid #8888bb;
        border-radius: 7pt;
        background: #ccccff;
        -webkit-flex: 1 6 20%;
                flex: 1 6 20%;
        -webkit-order: 3;
                order: 3;
    }
}



@media all and (max-width:640px){
    #page{
        -webkit-flex-flow: column;
                flex-flow: column;
    }
    header{
        min-height: 50px;
        //max-height: 50px;
    }
    footer{
        min-height: 50px;
        max-height: 50px;
    }
    #main{
        @extend #page;
        > article{
            -webkit-order: 2;
                    order: 2;
        }
        > nav{
            -webkit-order: 1;
                    order: 1;
        }
        > aside{
            -webkit-order: 3;
                    order: 3;
        }
         > nav{
            min-height: 50px;
            //max-height: 50px;
        }
         > aside{
            min-height: 50px;
            max-height: 50px;
         }
    }
}