@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
/* line 4, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
body {
  background: #999999;
  font: 0.85em 'Raleway', sans-serif; }

/* line 9, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
header, footer {
  display: block;
  margin: 4px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb; }

/* line 19, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row; }
  /* line 28, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > article {
    margin: 4px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 7pt;
    background: #dddd88;
    -webkit-flex: 3 1 60%;
    flex: 3 1 60%;
    -webkit-order: 2;
    order: 2; }
  /* line 40, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > nav {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 1;
    order: 1; }
  /* line 52, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > aside {
    margin: 4px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 7pt;
    background: #ccccff;
    -webkit-flex: 1 6 20%;
    flex: 1 6 20%;
    -webkit-order: 3;
    order: 3; }

@media all and (max-width: 640px) {
  /* line 68, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #page, #main {
    -webkit-flex-flow: column;
    flex-flow: column; }

  /* line 72, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  header {
    min-height: 50px; }

  /* line 76, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  footer {
    min-height: 50px;
    max-height: 50px; }

  /* line 82, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > article {
    -webkit-order: 2;
    order: 2; }
  /* line 86, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > nav {
    -webkit-order: 1;
    order: 1; }
  /* line 90, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > aside {
    -webkit-order: 3;
    order: 3; }
  /* line 94, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > nav {
    min-height: 50px; }
  /* line 98, /Users/francisco/Dropbox/ninja1/css/estilos.scss */
  #main > aside {
    min-height: 50px;
    max-height: 50px; }
 }
