@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
/* line 6, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
html, bodey, h3 {
  margin: 0;
  padding: 0; }

/* line 13, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
h3 {
  text-align: center; }

/* line 19, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
body {
  background: #999999;
  font: 0.5em 'Raleway', sans-serif;
  color: #333333; }

/* line 26, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
.fila {
  width: 90%;
  margin: 2% auto;
  border: 1px solid black;
  overflow: hidden; }

/* line 35, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
.columna {
  background: white;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%; }

@media (min-width: 480px) {
  /* line 55, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .cuatro_columnas .columna {
    width: 49%; }

  /* line 58, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .cuatro_columnas .columna:nth-child(2n) {
    margin-right: 0; }
 }

@media (min-width: 768px) {
  /* line 67, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .aside_derecha .aside, .aside_izquierda .aside {
    width: 23.5%; }

  /* line 71, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .aside_derecha .contenido, .aside_izquierda .contenido {
    width: 74.5%; }

  /* line 74, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .aside_derecha .aside {
    margin-right: 0; }

  /* line 77, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .aside_izquierda .contenido {
    margin-right: 0; }
 }

@media (min-width: 1024px) {
  /* line 86, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .dos_columnas .columna {
    width: 49%; }

  /* line 90, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .dos_columnas .columna:nth-child(2n) {
    margin-right: 0; }

  /* line 94, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .tres_columnas .columna {
    width: 32%; }

  /* line 98, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .tres_columnas .columna:nth-child(3n) {
    margin-right: 0; }

  /* line 102, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .cuatro_columnas .columna {
    width: 23.5%; }

  /* line 106, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .cuatro_columnas .columna:nth-child(2n) {
    margin-right: 2%; }

  /* line 110, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .cuatro_columnas .columna:nth-child(4n) {
    margin-right: 0; }

  /* line 115, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .seis_columnas .columna {
    width: 15%; }

  /* line 119, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .seis_columnas .columna:nth-child(6n) {
    margin-right: 0; }

  /* line 124, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .doce_columnas .columna {
    width: 6.5%; }

  /* line 128, /Users/francisco/Dropbox/ninja1/scss/grid.scss */
  .doce_columnas .columna:nth-child(12n) {
    margin-right: 0; }
 }
