@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

html, body, h3 {
  margin: 0;
  padding: 0; }


h2 {
  text-align: center; }


body {
  background: #999999;
  font: 0.7em 'Raleway', sans-serif;
  color: #333333; }


.fila {
  width: 90%;
  margin: 2% auto;
  overflow: hidden;}


.columna {
  border: 1px solid black;
  background: lightblue;
  float: left;
  margin-right: 2%;
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;}

/*UNA COLUMNA*/
.columnas_1 .columna{
    width: 100%;
}
/*FIN UNA COLUMNA*/



/*DOS COLUMNAS*/
.columnas_2 .columna{
    width: 49%;
}
.columnas_2 .columna:nth-child(2n){
    margin-right: 0;
}
/*FIN DOS COLUMNAS*/



/*TRES COLUMNAS*/
.columnas_3 .columna{
    width: 32%;
}
.columnas_3 .columna:nth-child(3n){
    margin-right: 0;
}
/*FIN TRES COLUMNAS*/



/*CUATRO COLUMNAS*/
.columnas_4 .columna{
    width: 23.5%;
}
.columnas_4 .columna:nth-child(4n){
    margin-right: 0;
}
/*FIN CUATRO COLUMNAS*/



/*SEIS COLUMNAS*/
.columnas_6 .columna{
    width: 15%;
}
.columnas_6 .columna:nth-child(6n){
    margin-right: 0;
}
/*FIN SEIS COLUMNAS*/



/*DOCE COLUMNAS*/
.columnas_12 .columna{
    width: 6.5%;
}
.columnas_12 .columna:nth-child(12n){
    margin-right: 0;
}
/*FIN DOCE COLUMNAS*/



/*ASIDE IZQUIERDA*/
.aside_izquierda .aside{
    width: 23.5%;
}
.aside_izquierda .contenido{
    width: 74.5%;
    margin-right: 0;
}
/*FIN ASIDE IZQUIERDA*/


/*ASIDE DERECHA*/
.aside_derecha .contenido{
    width: 74.5%;
}
.aside_derecha .aside{
    width: 23.5%;
    margin-right: 0;
}

/*FIN ASIDE DERECHA*/