//**********Variables

//Colores
$color_base: #333;
$color_de_fuente: $color_base + #000;
$color_fondo: $color_base+ #666;

//fuente
$fuente: .50em 'Raleway', sans-serif;

//fila
$fila_ancho_de_fila: 90%;
$fila_margen_de_fila: 2% auto; 
$fila_color_de_fondo: $color_base + #333;
$fila_borde_de_fila: 1px solid black;

//columna
$columna_color_de_columna: white;
$columna_margen_derecho:2%;
$columna_padding: .50em;