@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

@import 'variables';
    
//**********Reset
html, body, h3{
    margin: 0;
    padding: 0;
}

//ETIQUETASETIQUETASETIQUETASETIQUETAS
//h3
h3{
    text-align: center;
}

//GRIDGRIDGRIDGRIDGRIDGRIDGRIDGRIDGRID
//**********clase body
body{
    background: $color_fondo;
    font: $fuente;
    color: $color_de_fuente;
}

//**********clase fila
.fila{
    width: $fila_ancho_de_fila;
    margin: $fila_margen_de_fila;
    //background: $fila_color_de_fondo;
    border: $fila_borde_de_fila;
    overflow: hidden;
}

//**********clase columna
.columna{
    background: $columna_color_de_columna;
    float:left;
    margin-right: $columna_margen_derecho;
    padding: $columna_padding;
    box-sizing: border-box;
    width: 100%;
}

//***********una columna
.columna{
    
}


//******MEDIAQUERI*******
//******RESPONSIVE*******
//SMALL GRID
@media(min-width:480px){
    //CUATRO COLUMNAS SON DOS EN SMALL
    .cuatro_columnas .columna{
        width: 49%;
    }
    .cuatro_columnas .columna:nth-child(2n){
        margin-right: 0;
    }
    
}
//MEDIUM GRID
@media(min-width:768px){
    //***********aside + contenido
    .aside_derecha .aside,
    .aside_izquierda .aside{
        width: 23.5%;
    }
    .aside_derecha  .contenido,
    .aside_izquierda  .contenido{
        width: 74.5%;
    }
    .aside_derecha .aside{
        margin-right: 0;
    }
    .aside_izquierda .contenido{
        margin-right: 0;
    }
}


//LARGE GRID
@media(min-width:1024px){
    //***********dos columnas
    .dos_columnas .columna{
        width: 49%;
    }

    .dos_columnas .columna:nth-child(2n){
        margin-right: 0;
    }
    //***********tres columnas
    .tres_columnas .columna{
        width: 32%;
    }

    .tres_columnas .columna:nth-child(3n){
        margin-right: 0;
    }
    //***********cuatro columnas
    .cuatro_columnas .columna{
        width: 23.5%;
    }
    
    .cuatro_columnas .columna:nth-child(2n){
        margin-right: 2%;
    }

    .cuatro_columnas .columna:nth-child(4n){
        margin-right: 0;
    }

    //***********seis columnas
    .seis_columnas .columna{
        width: 15%;
    }

    .seis_columnas .columna:nth-child(6n){
        margin-right: 0;
    }

    //***********doce columnas
    .doce_columnas .columna{
        width: 6.5%;
    }

    .doce_columnas .columna:nth-child(12n){
        margin-right: 0;
    }
}