doctype html
html
  head(lang="en")
    title Document
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="css/daredevil.css")
  body
    .view
        .plane.main
            - for (var x = 0; x < 6; x++)
            .circle
  
  
    script(src="")