doctype html
html
  head(lang="es")
    title Grid
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="css/grid.css")
  body
    .fila.una_columna
        .columna
            h2.titulo TOP
    
    
    .fila.dos_columnas
        .columna
            h2.titulo COLUMNA 1
        .columna
            h2.titulo COLUMNA 2
    
    .fila.cuatro_columnas
        .columna
            h2.titulo COLUMNA 1
        .columna
            h2.titulo COLUMNA 2
        .columna
            h2.titulo COLUMNA 3
        .columna
            h2.titulo COLUMNA 4
    
    .fila.aside_derecha
        .columna.contenido
            h2.titulo CONTENIDO
        .columna.aside
            h2.tittle ASIDE
    
    .fila.aside_izquierda
        .columna.aside
            h2.tittle ASIDE
        .columna.contenido
            h2.titulo CONTENIDO
            
    .fila.tres_columnas
        .columna
            h2.titulo COLUMNA 1
        .columna
            h2.titulo COLUMNA 2
        .columna
            h2.titulo COLUMNA 3
    
    .fila.seis_columnas
        .columna
            h2.titulo COL 1
        .columna
            h2.titulo COL 2
        .columna
            h2.titulo COL 3
        .columna
            h2.titulo COL 4
        .columna
            h2.titulo COL 5
        .columna
            h2.titulo COL 6
    
    .fila.doce_columnas
        .columna
            h2.titulo COL 1
        .columna
            h2.titulo COL 2
        .columna
            h2.titulo COL 3
        .columna
            h2.titulo COL 4
        .columna
            h2.titulo COL 5
        .columna
            h2.titulo COL 6
        .columna
            h2.titulo COL 7
        .columna
            h2.titulo COL 8
        .columna
            h2.titulo COL 9
        .columna
            h2.titulo COL 10
        .columna
            h2.titulo COL 11
        .columna
            h2.titulo COL 12
        
    script(src="")
    