doctype html
html(lang="es")
  head
    title ninja1
    script(src='js/jquery-2.1.3.min.js')
    script(type='text/javascript'). 
      $(document).ready(function(){
          //alert('q');
      });
    link(href='css/estilos.css' rel='stylesheet')
  body
    //CABECERA
    header header
        h1 Modelo de Cajas Flexible
    
    //CONTENEDOR
    #main
        //ARTICLE
        article article
            h3 Modelo de cajas flexible
            p
                |El propósito principal de un <strong>modelo de cajas</strong> es que sea posible dividir el espacio de la ventana en varias cajas y, así, crear las filas y columnas que formen un diseño web regular.<br>El <strong>modelo de cajas</strong> trabaja de manera elegante las filas y las columnas virtuales que los usuarios ven en pantalla.<br>Con el <strong>modelo de cajas</strong> se consigue un control total sobre el diseño, la posición y el tamaño de las cajas, la distribución de unas cajas dentro de otras, y la forma en la que éstas usan y comparten el espacio disponible.
            h3 Contenedor flexible
            p
                |Un <strong>contenedor flexible</strong> permite que su contenido se adapte.
            ul
                li La orientación vertical y horizontal se declara en los contenedores.
                li Cada conjunto de cajas tiene que estar anidado dentro de otra caja.
            h3 Display
            p La propiedada css display define un contenedor flexible:
            ul
                li flex: como un elemento de bloque.
                li inline-flex: como un elemento en línea.
                
        
        //MENÚ NAVEGACIÓN
        nav nav
            ul
                li: a(href="") Cajas Flexibles I
                li: a(href="") Cajas Flexibles II
                li: a(href="") Cajas Flexibles III
                li: a(href="") Cajas Flexibles IV
                li: a(href="") Cajas Flexibles V
                li: a(href="") Cajas Flexibles VI
                li: a(href="") Cajas Flexibles VII
                li: a(href="") Cajas Flexibles VIII
                li: a(href="") Cajas Flexibles IX
                li: a(href="") Cajas Flexibles X
                li: a(href="") Cajas Flexibles XI
                li: a(href="") Cajas Flexibles XII
                li: a(href="") Cajas Flexibles XIII
                li: a(href="") Cajas Flexibles XIV
                li: a(href="") Cajas Flexibles XV
                
        //ASIDE
        aside aside
    
    //PIE
    footer footer
    