
doctype html
html
    head(lang="es")
        title Document
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="")
    body
    
        include header.jade
        
        section#principal
        #identificador
        p.clase1.clase2
        .clase2
        h2 Una cabererá importante
        p
            |Se pueden escribir varias líneas
            |Se pueden escribir varias líneas
            |Se pueden escribir varias líneas
        
        - var foo = 'miVar';
        p Foo es #{foo}
        
        -usuarios =['Francisco','Marinas', 'Alvarez']
        -for usuario in usuarios
            p #{usuario}
        
        -obj = {primer_nombre: 'Francisco', apellido:'Marnas'}
        -each val, key in obj
            li #{key}: #{val}
        
        - beatles =['John', 'Paul', 'Ringo', 'Geroge']
        ul
            each beatle in beatles
                li #{beatle}
        
        - despierto = false
        - if (despierto)
            p Haz Cafe!
        - else
            p Sigue dormido!
            
        include:markdown article.md
        
        mixin personas(personas)
            ul
                each persona in personas
                    li #{persona}
                    
        - personas = ['Carlos', 'Alberto', 'Juan']
        mixin personas(personas)
        
        - animales = ['Perro', 'Gato']
        mixin personas(animales)
        
        script(src="")
    