doctype html
html
    head(lang="es")
        title ninjaGrid
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        meta(name="description", content="")
        meta(name="keywords", content="")
        link(rel="stylesheet", href="css/ninja_grid.css")
    body
        .fila.columnas_1
            .columna: h2.title 1_COL1
            
        .fila.columnas_2
            .columna: h2.title 2_COL1
            .columna: h2.title 2_COL2
              
        .fila.columnas_3
            .columna: h2.title 3_COL1
            .columna: h2.title 3_COL2
            .columna: h2.title 3_COL3 
  
        .fila.columnas_4
            .columna: h2.title 4_COL1
            .columna: h2.title 4_COL2
            .columna: h2.title 4_COL3
            .columna: h2.title 4_COL4
  
        .fila.columnas_6
            .columna: h2.title 6_COL1
            .columna: h2.title 6_COL2
            .columna: h2.title 6_COL3
            .columna: h2.title 6_COL4
            .columna: h2.title 6_COL5
            .columna: h2.title 6_COL6
            
        .fila.columnas_12
            .columna: h2.title 12_COL1
            .columna: h2.title 12_COL2
            .columna: h2.title 12_COL3
            .columna: h2.title 12_COL4
            .columna: h2.title 12_COL5
            .columna: h2.title 12_COL6
            .columna: h2.title 12_COL7
            .columna: h2.title 12_COL8
            .columna: h2.title 12_COL9
            .columna: h2.title 12_COL10
            .columna: h2.title 12_COL11
            .columna: h2.title 12_COL12
            
        .fila.aside_izquierda
            .columna.aside: h2.title ASIDE
            .columna.contenido: h2.title CONTENDIDO
            
        .fila.aside_derecha
            .columna.contenido: h2.title CONTENDIDO
            .columna.aside: h2.title ASIDE
            
            
  
        script(src="")