doctype html
html
  head(lang="es")
    title Document
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="")
  body
    script(src="")